<div style="height: 100vh">
  <h1>Bem-vindo(a), <%= current_user.nickname %>!</h1>
  <h5>
    Em breve você conseguirá ver aqui seus cupons de descontos,
    quanto você está ganhando com cupom, entre outras informações.
  </h5>
</div>
