<div class="sbp-preview mb-4">
  <div class="sbp-preview-content">
    <div class="row">
      <div class="col-3">
        <div class="card">
          <img class="card-img-top" src="https://source.unsplash.com/tz87qQK9n58/900x500" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card Image Cap (Top)</h5>
            <p class="card-text">This is am example of a default Bootstrap image card with an image above the card body content.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
