<div class="site-footer">
  <div class="container">
    <div class="colophon">
      <div class="copy">
        <div>
          Copyright © <%= l(Date.today, format: :only_year) %> -
          <a href="https://instagram.com/pingo.rifas" target="_blank">
            Pingo Rifas e Skins
          </a>
        </div>
        <div class="developed-by">
          Desenvolvido por 
          <a href="https://instagram.com/ayslanmarcelino" target="_blank">
            Ayslan Marcelino
          </a>
        </div>
      </div>
      <div class="social-links square">
        <a href="https://instagram.com/pingo.rifas" target="_blank"><i class="fab fa-instagram"></i></a>
        <a href="https://twitch.tv/pingorifas" target="_blank"><i class="fab fa-twitch"></i></i></a>
        <a href="https://twitter.com/pingorifas" target="_blank"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>